circle {
  fill: rgba(113, 200, 238, .25);
  stroke: rgb(156, 77, 77);
  stroke-width: 1px;
}

circle:hover {
  fill: rgba(113, 200, 238, .9);
}

.leaf circle {
  fill: rgba(42, 228, 203, 1);
}

text {
  font: 10px sans-serif;
}

